############
## Windows

# Windows image file caches
Thumbs.db
# global
*.lnk
*.tmp
*.temp
# idea
*.iml
*.ipr
*.iws
.idea/
out/
# netbeans
nbproject/private/
nbproject/
build/
nbbuild/
dist/
out/
nbdist/
nbactions.xml
nb-configuration.xml
# java
*.class
*.jar
*.mf

*.txt
